* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  width: 50%;
  padding: 0 3% 3% 3%;
}

.input-container {
  display: flex;
  flex-direction: column;
  
}

.two-input-container {
  display: flex;
  justify-content: space-between;
}