@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
}

button {
  font-family: 'Open Sans';
  width: 100px;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  padding: 6px 15px;
}

label {
  color: grey;
  margin-bottom: 10px;
}

input {
  border: 0;
  border-radius: 4px;
  background-color: #eaeaead3 ;
  height: 35px;
  margin-bottom: 20px;
}

textarea {
  border: 0;
  border-radius: 4px;
  background-color: #eaeaead3 ;
  height: fit-content;
  /* margin-bottom: 20px; */
}

/* App display */
.app-display {
  display: flex;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-btns {
  display: flex;
  gap: 20px;
}

.auto-fill-btn {
  color: white;
  background-color: cornflowerblue;
}

.input-field {
  width: 50%;
  padding: 0 3% 3% 3%;
}

.input-container {
  display: flex;
  flex-direction: column;
  
}

.two-input-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.two-input-container .input-container {
  flex: 1;
}

/* Education field */
.education-heading {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.education-heading > div {
  font-size: 16px;
  font-weight: 600;
}

.education-heading img {
  height: 20px;
}

.addEducation {
  margin: 20px auto;
  width: 250px;
  color: white;
  background-color: cornflowerblue;
}

.delete-icon {
  background-color: white;
  width: 30px;
}

/* CV Display */
.output-field {
  position: sticky;
  top: 0;
  right: 0;
  background-color: darkgray;
  width: 50%;
  height: 100vh;
  padding: 3% 3% 3% 3%;
}

.cv-display {
  width: 100%;
  height: 100%;
}

.cv-personal-infos {
  width: 100%;
  height: min(120px);
  background-color: rgb(36, 57, 95);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10px; */
}

.cv-personal-infos .user-name {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.cv-personal-infos .user-contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cv-personal-infos .user-contact > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cv-personal-infos .user-contact > div img {
  height: 15px;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.cv-edu-exp {
  height: 600px;
  background-color: white;
  padding: 50px;
}

.cv-title {
  background-color: #eaeaead3;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-display {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 25px;
  grid-auto-rows: 25px;
  
}

.education-display p {
  margin: 0;
  padding: 5px;
}